<style>
   .h-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
</style>

<div class=" h-center d-flex container">
  <div class="card mb-3" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Mercato de l'innovation</h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos aperiam beatae sequi 
        consectetur officiis esse maiores commodi placeat, voluptatem molestiae, debitis delectus 
        illum reprehenderit deserunt. Tempore tenetur cumque quidem ducimus..</p>
      <a href="#" class="btn btn-primary">Let's go</a>
    </div>
  </div>
</div>