<div
  style="justify-content: space-between; width: 100%"
  class="position-absolute top-0 start-0 d-flex"
>
  <ul class="nav d-flex">
    <img src="assets/img/logo.png" alt="" />
  </ul>
  <div
    style="
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      text-align: start !important;
    "
    class="p-4"
  >
    <h4><a href="#">Pose a problem</a></h4>
    <h4><a href="#">Submit a solution</a></h4>
    <h4><a href="#">Make a contribution</a></h4>
  </div>
  <div class="p-3">
    <button
      type="submit"
      style="border: none"
      class="fs-5 btn btn-outline-light"
      routerLink="/signin"
    >
      Sign in
    </button>
    <button type="submit" class="fs-5 btn btn-outline-warning" routerLink="/signup" >Sign up</button>
  </div>
</div>

<section class="head d-flex">
  <div class="container headSection1">
    <h1 class="text-uppercase fw-bold">
      Detect <span style="color: #59ff00">ideas</span> , <br />Boost
      <span class="textanimation" data-text="Innovation">Innovation</span>
    </h1>
    <p class="fs-5 pb-4">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
      doloribus assumenda quia reprehenderit ut possimus voluptate sit earum
      quos, maiores perspiciatis dolorum, voluptatibus fuga, iusto pariatur
      cupiditate aliquid nostrum molestias.
    </p>
    <button class="btn fs-4">Get Started</button>
  </div>

  <div class="headSection2"></div>
</section>
<section>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>About CollabInnovate</h5>
          <p>
            Notre mission est de vous accompagner à valoriser votre patrimoine
            de données de la façon la plus éco-responsable possible.
          </p>
        </div>
        <div class="col-md-4">
          <h5>Links</h5>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Contact Us</h5>
          <p>
            Parc Kyriakides<br />Yaoundé, Cameroun, Bp: 3310 <br />Email:
            contact@collabinnovate.com<br />Phone: 123-456-7890
          </p>
        </div>
      </div>
    </div>
  </footer>
</section>
